.manage-user-container {
    .manage-user-content {
        .btn-add-user {
            button {
                display: flex;
                align-items: center;
                gap: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .title {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
    }
}

.model-add-user {
    .img-preview {
            height: 100px;
            border: 1px dashed #7a7a7a;
            border-radius: 5px;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #afafaf;
            img {
                max-width: 100%;
                max-height: 100%;
            }
    } 
    .label-upload {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 5px;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #eeeeee;

        &:hover {
            background-color: #e2e2e2;
        }
    }
}
